<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zte.im.mybatis.mapper.TdDeskSoftwareInfoMapper" >
  <resultMap id="BaseResultMap" type="com.zte.im.mybatis.bean.TdDeskSoftwareInfo" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="software_version" property="softwareVersion" jdbcType="INTEGER" />
    <result column="update_url" property="updateUrl" jdbcType="VARCHAR" />
    <result column="forcetwo" property="forcetwo" jdbcType="INTEGER" />
    <result column="update_content" property="updateContent" jdbcType="VARCHAR" />
    <result column="update_time" property="updateTime" jdbcType="DATE" />
    <result column="client_type" property="clientType" jdbcType="VARCHAR" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="is_active" property="isActive" jdbcType="INTEGER" />
    <result column="version_name" property="versionName" jdbcType="VARCHAR" />
    <result column="is_enable" property="isEnable" jdbcType="INTEGER" />
    <result column="software1" property="software1" jdbcType="VARCHAR" />
    <result column="software2" property="software2" jdbcType="VARCHAR" />
    <result column="software3" property="software3" jdbcType="VARCHAR" />
    <result column="apk_size" property="apkSize" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, software_version, update_url, forcetwo, update_content, update_time, client_type, 
    user_id, is_active, version_name, is_enable, software1, software2, software3, apk_size
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.zte.im.mybatis.bean.TdDeskSoftwareInfoExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from "td_desk_software_info"
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from "td_desk_software_info"
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from "td_desk_software_info"
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.zte.im.mybatis.bean.TdDeskSoftwareInfoExample" >
    delete from "td_desk_software_info"
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.zte.im.mybatis.bean.TdDeskSoftwareInfo" >
    insert into "td_desk_software_info" (id, software_version, update_url, 
      forcetwo, update_content, update_time, 
      client_type, user_id, is_active, 
      version_name, is_enable, software1, 
      software2, software3, apk_size
      )
    values (#{id,jdbcType=INTEGER}, #{softwareVersion,jdbcType=INTEGER}, #{updateUrl,jdbcType=VARCHAR}, 
      #{forcetwo,jdbcType=INTEGER}, #{updateContent,jdbcType=VARCHAR}, #{updateTime,jdbcType=DATE}, 
      #{clientType,jdbcType=VARCHAR}, #{userId,jdbcType=INTEGER}, #{isActive,jdbcType=INTEGER}, 
      #{versionName,jdbcType=VARCHAR}, #{isEnable,jdbcType=INTEGER}, #{software1,jdbcType=VARCHAR}, 
      #{software2,jdbcType=VARCHAR}, #{software3,jdbcType=VARCHAR}, #{apkSize,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.zte.im.mybatis.bean.TdDeskSoftwareInfo" >
    insert into "td_desk_software_info"
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="softwareVersion != null" >
        software_version,
      </if>
      <if test="updateUrl != null" >
        update_url,
      </if>
      <if test="forcetwo != null" >
        forcetwo,
      </if>
      <if test="updateContent != null" >
        update_content,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="clientType != null" >
        client_type,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="isActive != null" >
        is_active,
      </if>
      <if test="versionName != null" >
        version_name,
      </if>
      <if test="isEnable != null" >
        is_enable,
      </if>
      <if test="software1 != null" >
        software1,
      </if>
      <if test="software2 != null" >
        software2,
      </if>
      <if test="software3 != null" >
        software3,
      </if>
      <if test="apkSize != null" >
        apk_size,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="softwareVersion != null" >
        #{softwareVersion,jdbcType=INTEGER},
      </if>
      <if test="updateUrl != null" >
        #{updateUrl,jdbcType=VARCHAR},
      </if>
      <if test="forcetwo != null" >
        #{forcetwo,jdbcType=INTEGER},
      </if>
      <if test="updateContent != null" >
        #{updateContent,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=DATE},
      </if>
      <if test="clientType != null" >
        #{clientType,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="isActive != null" >
        #{isActive,jdbcType=INTEGER},
      </if>
      <if test="versionName != null" >
        #{versionName,jdbcType=VARCHAR},
      </if>
      <if test="isEnable != null" >
        #{isEnable,jdbcType=INTEGER},
      </if>
      <if test="software1 != null" >
        #{software1,jdbcType=VARCHAR},
      </if>
      <if test="software2 != null" >
        #{software2,jdbcType=VARCHAR},
      </if>
      <if test="software3 != null" >
        #{software3,jdbcType=VARCHAR},
      </if>
      <if test="apkSize != null" >
        #{apkSize,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.zte.im.mybatis.bean.TdDeskSoftwareInfoExample" resultType="java.lang.Integer" >
    select count(*) from "td_desk_software_info"
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update "td_desk_software_info"
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.softwareVersion != null" >
        software_version = #{record.softwareVersion,jdbcType=INTEGER},
      </if>
      <if test="record.updateUrl != null" >
        update_url = #{record.updateUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.forcetwo != null" >
        forcetwo = #{record.forcetwo,jdbcType=INTEGER},
      </if>
      <if test="record.updateContent != null" >
        update_content = #{record.updateContent,jdbcType=VARCHAR},
      </if>
      <if test="record.updateTime != null" >
        update_time = #{record.updateTime,jdbcType=DATE},
      </if>
      <if test="record.clientType != null" >
        client_type = #{record.clientType,jdbcType=VARCHAR},
      </if>
      <if test="record.userId != null" >
        user_id = #{record.userId,jdbcType=INTEGER},
      </if>
      <if test="record.isActive != null" >
        is_active = #{record.isActive,jdbcType=INTEGER},
      </if>
      <if test="record.versionName != null" >
        version_name = #{record.versionName,jdbcType=VARCHAR},
      </if>
      <if test="record.isEnable != null" >
        is_enable = #{record.isEnable,jdbcType=INTEGER},
      </if>
      <if test="record.software1 != null" >
        software1 = #{record.software1,jdbcType=VARCHAR},
      </if>
      <if test="record.software2 != null" >
        software2 = #{record.software2,jdbcType=VARCHAR},
      </if>
      <if test="record.software3 != null" >
        software3 = #{record.software3,jdbcType=VARCHAR},
      </if>
      <if test="record.apkSize != null" >
        apk_size = #{record.apkSize,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update "td_desk_software_info"
    set id = #{record.id,jdbcType=INTEGER},
      software_version = #{record.softwareVersion,jdbcType=INTEGER},
      update_url = #{record.updateUrl,jdbcType=VARCHAR},
      forcetwo = #{record.forcetwo,jdbcType=INTEGER},
      update_content = #{record.updateContent,jdbcType=VARCHAR},
      update_time = #{record.updateTime,jdbcType=DATE},
      client_type = #{record.clientType,jdbcType=VARCHAR},
      user_id = #{record.userId,jdbcType=INTEGER},
      is_active = #{record.isActive,jdbcType=INTEGER},
      version_name = #{record.versionName,jdbcType=VARCHAR},
      is_enable = #{record.isEnable,jdbcType=INTEGER},
      software1 = #{record.software1,jdbcType=VARCHAR},
      software2 = #{record.software2,jdbcType=VARCHAR},
      software3 = #{record.software3,jdbcType=VARCHAR},
      apk_size = #{record.apkSize,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.zte.im.mybatis.bean.TdDeskSoftwareInfo" >
    update "td_desk_software_info"
    <set >
      <if test="softwareVersion != null" >
        software_version = #{softwareVersion,jdbcType=INTEGER},
      </if>
      <if test="updateUrl != null" >
        update_url = #{updateUrl,jdbcType=VARCHAR},
      </if>
      <if test="forcetwo != null" >
        forcetwo = #{forcetwo,jdbcType=INTEGER},
      </if>
      <if test="updateContent != null" >
        update_content = #{updateContent,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=DATE},
      </if>
      <if test="clientType != null" >
        client_type = #{clientType,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="isActive != null" >
        is_active = #{isActive,jdbcType=INTEGER},
      </if>
      <if test="versionName != null" >
        version_name = #{versionName,jdbcType=VARCHAR},
      </if>
      <if test="isEnable != null" >
        is_enable = #{isEnable,jdbcType=INTEGER},
      </if>
      <if test="software1 != null" >
        software1 = #{software1,jdbcType=VARCHAR},
      </if>
      <if test="software2 != null" >
        software2 = #{software2,jdbcType=VARCHAR},
      </if>
      <if test="software3 != null" >
        software3 = #{software3,jdbcType=VARCHAR},
      </if>
      <if test="apkSize != null" >
        apk_size = #{apkSize,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zte.im.mybatis.bean.TdDeskSoftwareInfo" >
    update "td_desk_software_info"
    set software_version = #{softwareVersion,jdbcType=INTEGER},
      update_url = #{updateUrl,jdbcType=VARCHAR},
      forcetwo = #{forcetwo,jdbcType=INTEGER},
      update_content = #{updateContent,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=DATE},
      client_type = #{clientType,jdbcType=VARCHAR},
      user_id = #{userId,jdbcType=INTEGER},
      is_active = #{isActive,jdbcType=INTEGER},
      version_name = #{versionName,jdbcType=VARCHAR},
      is_enable = #{isEnable,jdbcType=INTEGER},
      software1 = #{software1,jdbcType=VARCHAR},
      software2 = #{software2,jdbcType=VARCHAR},
      software3 = #{software3,jdbcType=VARCHAR},
      apk_size = #{apkSize,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>