<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false">
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender"
		Threshold="DEBUG">
		<Encoding>GBK</Encoding>
		<layout class="ch.qos.logback.classic.PatternLayout">
			<pattern>%-20(%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread]) %-5level %logger{0} -%msg%n
			</pattern>
		</layout>
	</appender>

	<root>
		<level value="INFO" />
		<appender-ref ref="STDOUT" />
	</root>
</configuration>