body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:960px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:565px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:565px;
}
#u1 {
  position:absolute;
  left:2px;
  top:274px;
  width:956px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:0px;
  top:85px;
  width:904px;
  height:10px;
}
#u2_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u2_end {
  position:absolute;
  left:887px;
  top:-5px;
  width:18px;
  height:20px;
}
#u2_line {
  position:absolute;
  left:0px;
  top:3px;
  width:904px;
  height:5px;
}
#u3 {
  position:absolute;
  left:40px;
  top:38px;
  width:129px;
  height:37px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:37px;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u5 {
  position:absolute;
  left:210px;
  top:59px;
  width:66px;
  height:16px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u7 {
  position:absolute;
  left:776px;
  top:52px;
  width:27px;
  height:16px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u9 {
  position:absolute;
  left:555px;
  top:122px;
  width:345px;
  height:321px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  height:331px;
}
#u10 {
  position:absolute;
  left:2px;
  top:152px;
  width:341px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:805px;
  top:48px;
  width:10px;
  height:23px;
}
#u11_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u11_end {
  position:absolute;
  left:-5px;
  top:6px;
  width:20px;
  height:18px;
}
#u11_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:23px;
}
#u12 {
  position:absolute;
  left:819px;
  top:52px;
  width:27px;
  height:16px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:613px;
  top:198px;
  width:53px;
  height:16px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:627px;
  top:241px;
  width:39px;
  height:16px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:16px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  white-space:nowrap;
}
#u18 {
  position:absolute;
  left:657px;
  top:356px;
  width:141px;
  height:35px;
}
#u18_input {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:35px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u18_input {
  font-family:'应用字体';
}
#u19 {
  position:absolute;
  left:676px;
  top:238px;
  width:137px;
  height:23px;
}
#u19_input {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:23px;
  background-image:;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u19_input {
  font-family:'应用字体';
}
#u20 {
  position:absolute;
  left:676px;
  top:195px;
  width:137px;
  height:23px;
}
#u20_input {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:23px;
  background-image:;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u20_input {
  font-family:'应用字体';
}
#u21 {
  position:absolute;
  left:28px;
  top:113px;
  width:472px;
  height:325px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:472px;
  height:325px;
}
#u22 {
  position:absolute;
  left:2px;
  top:154px;
  width:468px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:772px;
  top:301px;
  width:41px;
  height:13px;
  font-size:10px;
  text-decoration:underline;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:13px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u25 {
  position:absolute;
  left:687px;
  top:321px;
  width:81px;
  height:13px;
  font-size:10px;
  color:#FF0000;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:13px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
